html {
  color: white;
  margin: 0px;
  
}

body {
  background: url('images/greenbike_copy2.png') no-repeat;
  background-size: 1450px auto;
  margin: 0;
}


.logo {
  margin-top: 50px;
  margin-left: 25px;
}

footer {
  float: left;
  width: 150px;
  height: auto;
  margin-top: 90px;
}

/* p {
  color: white;
  margin-left: 640px;
}
 */
.placeholder {
  color: ivory;
}

.search-title {
  font-size: 60px;
}

.wordword {
  margin-left: 560px;
  
}

.submit {
  padding: 15px;
  border-radius: 10px;


}

.yourword {
  width: 15%;
  height: 5%;
  font-size: 15px;
  color: gray;
  margin-top: 35px;
  margin-left: 565px;
  padding: 5px;

}

.background {
  background-color: blue;


}

.wannaknow 
{
  font-family: helvetica, sans-serif;
  font-size: 25px;
  margin-left: 515px;
  margin-top: 5px;
  color: white;
}

@media screen and (min-width:1px) and (max-width:1900px) {
    ...
}
@media screen and (min-width:1900px) {
    ...
}